#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>
#include <zephyr/dt-bindings/dma/stm32_dma.h>


&clk_hse {
    clock-frequency = <8000000>;
    status = "okay";
};

/* Cấu hình các hệ số PLL để kích lên 168 MHz */
&pll {
    div-m = <8>;        /* 8 MHz / 8 = 1 MHz (Chuẩn VCO input) */
    mul-n = <336>;      /* 1 MHz * 336 = 336 MHz (Chuẩn VCO output) */
    div-p = <2>;        /* 336 MHz / 2 = 168 MHz SYSCLK */
    div-q = <7>;        /* 336 MHz / 7 = 48 MHz */
    clocks = <&clk_hse>;
    status = "okay";
};

/* Xác nhận với Zephyr là CPU đang chạy ở 168 MHz */
&rcc {
    clocks = <&pll>;
    clock-frequency = <168000000>; /* Xác nhận SYSCLK = 168 MHz */
    ahb-prescaler = <1>;           /* HCLK = 168 MHz */
    apb1-prescaler = <4>;          /* PCLK1 = 42 MHz (Dành cho I2C) */
    apb2-prescaler = <2>;          /* PCLK2 = 84 MHz */
};

/ {
    aliases {
        drone-i2c3 = &i2c3;
        drone-i2c1 = &i2c1;
        drone-usart6 = &usart6;
    };
};

&dma1 {
    status = "okay";
};

&dma2 {
    status = "okay";
};

&i2c3 {
    status = "okay";
    compatible = "vnd,write-i2c";
    pinctrl-0 = <&i2c3_scl_pa8 &i2c3_sda_pc9>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_FAST>;

    scl-gpios = <&gpioa 8 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
    sda-gpios = <&gpioc 9 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;

    dmas = <&dma1 2 3 STM32_DMA_PERIPH_TO_MEMORY STM32_DMA_PRIORITY_HIGH>,
           <&dma1 4 3 STM32_DMA_MEMORY_TO_PERIPH STM32_DMA_PRIORITY_HIGH>;
    dma-names = "rx", "tx";
};

&i2c1 {
    status = "okay";
    compatible = "vnd,write-i2c";
    pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_FAST>;

    scl-gpios = <&gpiob 6 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
    sda-gpios = <&gpiob 7 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;

    dmas = <&dma1 5 1 STM32_DMA_PERIPH_TO_MEMORY STM32_DMA_PRIORITY_HIGH>,
           <&dma1 6 1 STM32_DMA_MEMORY_TO_PERIPH STM32_DMA_PRIORITY_HIGH>;
    dma-names = "rx", "tx";
};

&usart6 {
    status = "okay";
    compatible = "vnd,write-usart";
    /delete-property/ interrupts;
    pinctrl-0 = <&usart6_tx_pc6 &usart6_rx_pc7>;
    pinctrl-names = "default";
    current-speed = <115200>;

    dmas = <&dma2 1 5 STM32_DMA_PERIPH_TO_MEMORY STM32_DMA_PRIORITY_HIGH>,
           <&dma2 6 5 STM32_DMA_MEMORY_TO_PERIPH STM32_DMA_PRIORITY_HIGH>;
    dma-names = "rx", "tx";
};

&spi2 {
    status = "okay";
    compatible = "vnd,spi-write";
    pinctrl-0 = <&spi2_sck_pb13 &spi2_miso_pb14 &spi2_mosi_pb15>;
    pinctrl-names = "default";
    cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;
    clock-frequency = <2000000>; /* Tần số 2MHz */

    dmas = <&dma1 3 0 STM32_DMA_PERIPH_TO_MEMORY STM32_DMA_PRIORITY_HIGH>,
           <&dma1 4 0 STM32_DMA_MEMORY_TO_PERIPH STM32_DMA_PRIORITY_HIGH>;
    dma-names = "rx", "tx";
};

/ {
    chosen {
        /* Chỉ định Zephyr Shell và Console sử dụng Virtual COM Port qua USB */
        zephyr,shell-uart = &cdc_acm_uart0;
        zephyr,console = &cdc_acm_uart0;
    };
};

&usbotg_fs {
    status = "okay";

    pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
    pinctrl-names = "default";
    
    /delete-property/ vbus-gpios;

    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};
