#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>

&clk_hse {
    clock-frequency = <8000000>;
    status = "okay";
};

/* Cấu hình các hệ số PLL để kích lên 168 MHz */
&pll {
    div-m = <8>;        /* 8 MHz / 8 = 1 MHz (Chuẩn VCO input) */
    mul-n = <336>;      /* 1 MHz * 336 = 336 MHz (Chuẩn VCO output) */
    div-p = <2>;        /* 336 MHz / 2 = 168 MHz SYSCLK */
    div-q = <7>;        /* 336 MHz / 7 = 48 MHz */
    clocks = <&clk_hse>;
    status = "okay";
};

/* Xác nhận với Zephyr là CPU đang chạy ở 168 MHz */
&rcc {
    clocks = <&pll>;
    clock-frequency = <168000000>; /* Xác nhận SYSCLK = 168 MHz */
    ahb-prescaler = <1>;           /* HCLK = 168 MHz */
    apb1-prescaler = <4>;          /* PCLK1 = 42 MHz (Dành cho I2C) */
    apb2-prescaler = <2>;          /* PCLK2 = 84 MHz */
};

