#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>
#include <zephyr/dt-bindings/dma/stm32_dma.h>


&clk_hse {
    clock-frequency = <8000000>;
    status = "okay";
};

/* Cấu hình các hệ số PLL để kích lên 168 MHz */
&pll {
    div-m = <8>;        /* 8 MHz / 8 = 1 MHz (Chuẩn VCO input) */
    mul-n = <336>;      /* 1 MHz * 336 = 336 MHz (Chuẩn VCO output) */
    div-p = <2>;        /* 336 MHz / 2 = 168 MHz SYSCLK */
    div-q = <7>;        /* 336 MHz / 7 = 48 MHz */
    clocks = <&clk_hse>;
    status = "okay";
};

/* Xác nhận với Zephyr là CPU đang chạy ở 168 MHz */
&rcc {
    clocks = <&pll>;
    clock-frequency = <168000000>; /* Xác nhận SYSCLK = 168 MHz */
    ahb-prescaler = <1>;           /* HCLK = 168 MHz */
    apb1-prescaler = <4>;          /* PCLK1 = 42 MHz (Dành cho I2C) */
    apb2-prescaler = <2>;          /* PCLK2 = 84 MHz */
};

/ {
    aliases {
        drone-i2c3 = &i2c3;
        drone-i2c1 = &i2c1;
    };
};

&dma1 {
    status = "okay";
};

&i2c3 {
    status = "okay";
    compatible = "st,stm32-i2c-v1";
    pinctrl-0 = <&i2c3_scl_pa8 &i2c3_sda_pc9>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_FAST>;

    scl-gpios = <&gpioa 8 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
    sda-gpios = <&gpioc 9 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;

    /* Cú pháp 4 Cells: <&dma1 stream channel slot features> */
    /* I2C3 RX: Stream 2, Channel 3 */
    /* I2C3 TX: Stream 4, Channel 3 */
    dmas = <&dma1 2 3 STM32_DMA_PERIPH_TO_MEMORY STM32_DMA_PRIORITY_HIGH>,
           <&dma1 4 3 STM32_DMA_MEMORY_TO_PERIPH STM32_DMA_PRIORITY_HIGH>;    
    dma-names = "rx", "tx";
};

&i2c1 {
    status = "okay";
    compatible = "st,stm32-i2c-v1";
    pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_FAST>;

    scl-gpios = <&gpiob 6 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
    sda-gpios = <&gpiob 7 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;

    /* I2C1 RX: Stream 5, Channel 1 */
    /* I2C1 TX: Stream 6, Channel 1 */
    dmas = <&dma1 5 1 STM32_DMA_PERIPH_TO_MEMORY STM32_DMA_PRIORITY_HIGH>,
           <&dma1 6 1 STM32_DMA_MEMORY_TO_PERIPH STM32_DMA_PRIORITY_HIGH>;
    dma-names = "rx", "tx";
};
