/ {
    /* Vô hiệu hóa UART mặc định của board ble400 để tránh tranh chấp chân */
    chosen {
        zephyr,console = &gpio0;
        zephyr,shell-uart = &gpio0;
    };
};

&uart0 {
    status = "disabled";
};

&i2c0 {
    status = "disabled";
};

&spi0 {
    status = "disabled";
};

&sram0 {
    reg = <0x20000000 DT_SIZE_K(16)>;
};
