#include <zephyr/dt-bindings/clock/stm32f4_clock.h>

/* Config PLL dùng HSI (16MHz) -> SYSCLK 100MHz */
&pll {
    clocks = <&clk_hsi>;
    div-m = <8>;
    mul-n = <100>;
    div-p = <2>;
    div-q = <4>;
    status = "okay";
};

&rcc {
    clocks = <&pll>;
    clock-frequency = <DT_FREQ_M(100)>;
    ahb-prescaler = <1>;
    apb1-prescaler = <2>;
    apb2-prescaler = <1>;
};

/* Override thuộc tính Pull-up / Open-drain trực tiếp vào node pinctrl mặc định */
&i2c3_scl_pa8 {
    bias-pull-up;
    drive-open-drain;
};

&i2c3_sda_pc9 {
    bias-pull-up;
    drive-open-drain;
};

&i2c3 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    pinctrl-0 = <&i2c3_scl_pa8 &i2c3_sda_pc9>;
    pinctrl-names = "default";
};
