#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>

&pll {
    div-m = <8>;
    mul-n = <100>;
    div-p = <2>;
    div-q = <4>;
    clocks = <&clk_hsi>;
    status = "okay";
};

&rcc {
    clocks = <&pll>;
    clock-frequency = <DT_FREQ_M(100)>;
    ahb-prescaler = <1>;
    apb1-prescaler = <2>;
    apb2-prescaler = <1>;
};